@charset "utf-8";
/* CSS Document */
body,ul,li,dl,dt,dd,p,ol,h1,h2,h3,h4,h5,h6,form,img,table,fieldset,legend{margin:0; padding:0;}
ul,li,ol{list-style:none;}
img,fieldset{border:0; }
img{display:block;}
a{text-decoration:none; color:#333;}
h1,h2,h3,h4,h5,h6{font-weight:100;}
body{font-size:12px; font-family:"微软雅黑";}
input,a{outline:none;}
.fl{float:left;}
.fr{float:right;}
body{padding:0.86rem 0 0.98rem;width:100%;height:100%;background:#f7f7f7;}



header{height:0.86rem;
		width:100%;
		background:#e4366b;
		border-top:1px solid #636363;
		border-bottom:1px solid #282828;
		position:fixed;top:0;
}
header p{font-size:0.41rem;
			color:#fff;
			width:100%;
			height:0.86rem;
			line-height:0.86rem;
			text-align: center;
}
header span{font-size:0.3rem;}
header a{display:block;
			width:0.54rem;
			height:0.36rem;
			background:url(../images/back.jpg) no-repeat center/cover;
			position: absolute;left:0.19rem;top:0.26rem;
}
.main1{height:3.1rem;}
.main1-left{width:1.64rem;
			height:1.65rem;
			background:url(../images/man.jpg) no-repeat center/1.64rem 1.65rem;
			margin:0.62rem 0.35rem 0;
}
.main1-right{width:2.61rem;
			height:1.66rem;
			margin-top:0.53rem;
}
.main1-right p{font-size:0.36rem;
				line-height:1.12rem;
}
.main1-right a{width:1.09rem;
				height:0.52rem;
				background:linear-gradient(#f65e87,#d7114f);
				color:#fff;
				font-size:0.25rem;
				text-align: center;
				line-height:0.52rem;
				display: block;
				float:left;
				border-radius: 0.1rem;
				box-shadow: 0 -0.02rem #bbbbbb;
}
.main1-right a:nth-of-type(1){margin-right:0.44rem;}
.dlzc{width:2.62rem;
		height:0.52rem;
}
.main2{margin-left:0.32rem;
		border:1px solid #dedede;
		border-radius: 0.1rem;
		width:5.55rem;
		background:#fff;
}
.main2 a{width:5.55rem;
			height:0.88rem;
			display: block;
			text-indent: 0.28rem;
			line-height: 0.88rem;
			border-bottom:1px solid #dedede;
			background:url(../images/list1.jpg) no-repeat 5.07rem 0.31rem/0.25rem 0.32rem;
}
.main2 a:nth-last-of-type(1){border:0;}



footer{height:1.03rem;
		width:100%;
		background:#484850;
		position: fixed;bottom:0;
		display:flex;
}
footer a{flex:1;
			text-align: center;
			line-height:1.5rem;
			font-size:0.25rem;
			color:#fff;
			width:1.28rem;
			height:0.8rem;
			box-sizing: border-box;
			display:block;
}
footer a:hover{border-top:5px solid #e43669;}
footer a:nth-of-type(1){background:url(../images/sy.jpg) no-repeat 0.4rem 0.08rem/0.48rem 0.49rem;}
footer a:nth-of-type(2){background:url(../images/fl.jpg) no-repeat 0.45rem 0.15rem/0.46rem 0.4rem;}
footer a:nth-of-type(3){background:url(../images/gouwuche.jpg) no-repeat 0.4rem 0.08rem/0.48rem 0.49rem;}
footer a:nth-of-type(4){background:url(../images/wdx.jpg) no-repeat 0.4rem 0.08rem/0.48rem 0.49rem;}
footer a:nth-of-type(5){background:url(../images/gengduo.jpg) no-repeat 0.4rem 0.34rem/0.48rem 0.15rem;}